@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.welcome {
  padding: 2em 0;
  background-color: $secondary;

  .wrapper {
    h3 {
      font-size: 28px;
      text-transform: uppercase;

      @include responsive(max, $sm-laptop) { font-size: 24px; }
      @include responsive(max, $tab) { font-size: 20px; }
    }
  }
}

.welcome_container {
  padding-top: 1.5em;
  margin-top: 1.5em;
  border-top: 1px dashed $darkgray;

  @include flex(row, space-between, center);
  flex-wrap: wrap;

  .icons {
    color: $white;
    font-size: 56px;

    @include responsive(max, $sm-laptop) { font-size: 48px; }
    @include responsive(max, $tab) { font-size: 40px; }
  }

}