@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.cards {
  flex-basis: 48%;
  margin-bottom: 1.5em;
  @include flex(row, space-between, flex-start);
  background-color: $white;

  img { width: 45%; }

  span { display: block; }
}

.card_content {
  flex-basis: 60%;
  padding: .8em;

  * { margin-bottom: .5em; }

  .title { 
    font-size: 20px;
    text-transform: uppercase;
  }

  .sub {
    @include flex(row, flex-start, center);
    gap: 1em;

    .subtitle {
      padding: .2em .5em;
      background-color: $primary;
      color: $white;
    }
  }

  p { font-weight: 500; }
}