@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.header { 
  background-color: $secondary;
  
  .wrapper {
    position: relative;

    p {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

.bookmark { color: $primary; }

nav {
  width: 100%;
  padding: .5em 0;
  @include flex(row, space-between, center);
  
  h1 { flex-basis: 30%; }

  ul {
    flex-basis: 50%;
    @include flex(row, space-between, center);

    li {
      a {
        color: $textcolor;
        font-size: 16px;
        text-transform: uppercase;
      }
    }

  }
}