@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.footer {
  padding: .5em;
  background-color: $textcolor;

  .wrapper {
    @include flex(row, space-between, center);
  }

  p { color: $white; }
}

.footer_nav {
  li { 
    margin-right: 1em; 
    
    a {
      color: $white;
      text-transform: uppercase;
    }
  }
}