@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.footer {
  padding: .5em 0;
  background-color: $textcolor;

  .wrapper {
    @include flex(row, space-between, center);

    @include responsive(max, $mobile) { @include flex(column, center, center) }
  }

  p { color: $white; }
}

.footer_nav {
  li { 
    margin-right: 1em; 
    
    a {
      color: $white;
      text-transform: uppercase;

      &:hover { @include responsive(min, $sm-laptop) { color: $primary; } }
    }
  }
}