@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin responsive($value, $width) {
  @media ( #{$value}-width: $width ) {
    @content;
  }
}